@import "./bookmark.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main: #464f51;
  --dark: #000009;
  --contrast-light: #defff2;
  --contrast-green: #0ff4c6;
  --contrast-red: #d68fd6;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: var(--contrast-red);
  text-shadow: 2px 1px 2px var(--main);
  font-size: 2rem;
}

main {
  gap: 20px;
}

.q__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--contrast-light);
  width: clamp(200px, 300px, 500px);
  min-height: 200px;
  padding: 20px 30px 10px 30px;
  box-shadow: 1px 1px 15px var(--main);
}

/* .bookmark, */
.bookmark__btn {
  position: absolute;
  top: -3px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.card__question {
  min-width: 250px;
}

.tags {
  align-self: flex-start;
  color: var(--contrast-light);
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.tags:hover {
  cursor: pointer;
}

.card__answer {
  padding: 15px 20px;
  border: 2px var(--contrast-green) solid;
  background-color: var(--contrast-light);
  color: var(--main);
  transition: 0.2s;
}

.card__answer:hover {
  background-color: var(--contrast-red);
  cursor: pointer;
  color: var(--dark);
}

.card__answer,
.tags > li {
  border-radius: 5px;
}

.tags > li {
  background-color: var(--contrast-red);
  padding: 5px;
}

footer {
  width: 100vw;
  margin-top: 25px;
}

.active {
  background-color: var(--contrast-red);
}

.footer_link > img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.footer_link > img:hover {
  background-color: var(--contrast-red);
  border-radius: 5px;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--contrast-light);
}
