.quiz__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--contrast-light);
  width: max-content;
  min-height: 200px;
  max-width: 300px;
  padding: 20px 10px 10px 10px;
  box-shadow: 1px 1px 15px var(--shadow-dust);
}

.bookmark {
  position: absolute;
  top: -6px;
  right: 10px;
  cursor: pointer;
  width: 35px;
}

.bookmark--saved {
  filter: invert(81%) sepia(91%) saturate(554%) hue-rotate(234deg)
    brightness(88%) contrast(90%);
}

.card__question {
  max-width: 250px;
  text-align: justify;
  margin-top: 10px;
}

.tags {
  align-self: flex-start;
  color: var(--contrast-light);
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.tags:hover {
  cursor: pointer;
}

.card__answer__button {
  /* display: none; */
  padding: 15px 20px;
  border: 2px var(--contrast-green) solid;
  background-color: var(--contrast-light);
  color: var(--main);
  transition: 0.2s;
  font-size: 1rem;
}

.card__answer__button:hover {
  background-color: var(--contrast-red);
  cursor: pointer;
  color: var(--white);
}

.card__answer__button,
.tags > li {
  border-radius: 5px;
}

.tags > li {
  background-color: var(--contrast-red);
  padding: 3px;
  font-size: 0.9rem;
}
