.question__form,
fieldset {
  display: flex;
  flex-direction: column;
}

fieldset {
  border-style: solid;
  border-color: var(--contrast-red);
  outline: none;
  box-shadow: 1px 2px 15px 3px var(--shadow-dust);
}

input,
textarea {
  border: solid 2px var(--contrast-green);
  font-size: 1rem;
  padding: 5px;
  letter-spacing: 2px;
}

textarea {
  resize: none;
  font-family: inherit;
}

fieldset,
input,
textarea,
[data-js="formButton"],
[data-js="modalMessage"] {
  border-radius: 5px;
}

.question__form {
  align-items: center;
  line-height: 1.5rem;
}

[data-js="questionInput"],
[data-js="answerInput"],
[data-js="tagsInput"] {
  margin-bottom: 15px;
}

[data-js="formButton"] {
  border: var(--contrast-green) 2px solid;
  background: var(--contrast-light);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.1rem;
}

[data-js="formButton"]:hover {
  background-color: var(--contrast-red);
  transition: 0.2s;
  cursor: pointer;
  color: var(--white);
}

[data-js="modalMessage"] {
  background-color: var(--white);
  width: fit-content;
  margin: 0 auto;
  border: 2px solid var(--contrast-red);
  padding: 5px 10px;
}
