[data-js="cardsGrid"] {
  display: grid;
  gap: 20px;
  justify-items: center;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  grid-template-rows: repeat(auto-fit, 200px);
}

@media (min-width: 670px) {
  [data-js="cardsGrid"] {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 200px);
    width: 95vw;
    position: relative;
  }

  [data-js="linkToForm"] {
    position: absolute;
  }
}
@media (min-width: 900px) {
  [data-js="cardsGrid"] {
    margin-left: calc(var(--footer-height) + 30px);
  }

  [data-js="main"] {
    margin: 0;
    margin-top: calc(var(--header-height) + 20px);
  }
}
