:root {
  --main: #464f51;
  --dark: #000009;
  --contrast-light: #defff2;
  --contrast-green: #0ff4c6;
  --contrast-red: #d68fd6;
}

.details,
.about,
.counters,
.settings,
.toggle__switch,
.open_questions,
.saved_questions {
  display: flex;
}

body {
  position: relative;
}

[data-js="mainProfile"] {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90vw;
}

.bookmark--saved {
  filter: invert(81%) sepia(91%) saturate(554%) hue-rotate(234deg)
    brightness(88%) contrast(90%);
}

.details {
  align-items: center;
  justify-content: space-evenly;
  max-width: fit-content;
  margin-bottom: 15px;
}

.about {
  flex-direction: column;
  flex: 1 1 100px;
  margin: 0 15px;
  text-align: justify;
  max-width: clamp(280px, 80%, 450px);
}

.about > h2 {
  margin: 0;
}

.about__me {
  width: 100%;
}

.details > img {
  width: 3em;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--contrast-green);
}

.username {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 10px;
}

.counters {
  flex: 1 1 auto;
  width: 250px;
  justify-content: space-around;
  align-items: center;
}

.open__questions,
.saved__questions {
  width: 50px;
  align-items: center;
  justify-content: space-around;
}

.open__questions:hover,
.saved__questions:hover {
  cursor: pointer;
}

.settings {
  flex-direction: column;
}

.settings > span {
  font-size: 18px;
  font-weight: 600;
}

.toggle__switch {
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

/* Toggle Switch Dark Mode */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.counter__img {
  width: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--contrast-red);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: var(--contrast-light);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--dark);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* --------------- */
[data-js="deleteAllQuestions"] {
  margin-top: 20px;
  background-color: crimson;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 1rem;
}

[data-js="deleteAllQuestions"]:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  [data-js="mainProfile"] {
    margin-top: calc(var(--header-height) + 25px);
  }

  .counters {
    margin-bottom: 20px;
  }
}
